* {
    color: rgb(60, 255, 0);
    background-color: black;
    padding: 9px;
    margin: 0px;
    font-family: "Press Start 2P";
}

#lin {
    margin-left: 55px;

}

.cen1 {
    display: flex;
    text-decoration: none;
    border-style: double;
    margin-left: 100px;
   
    padding: 5px;
    border-radius: 200px;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
}

.cen1 a {
    padding: 2px;
    display: flex;
    
    justify-content: space-around;
    text-decoration: none;
    border-style: dashed;
    border-radius: 200;
}

.cen2 {
    display: flex;
    text-decoration: none;
    border-style: double;
    margin-left: 100px;
    
    padding: 5px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    width: 875px;
}

.cen2 a {
    text-decoration: none;
}
#header {
    padding-top: 22px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

#tam {
    border-width: 1px;
    display: flex;
    justify-content: center;
    border-style: outset;
    margin-top: 65px;
    border-style: dashed;
    border-radius: 22px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 20px;
    width: 800px;
}

#deletB {
    display: flex;
    margin-right: 600px;
    justify-content: right;
    margin-top: 22px;
}

.delet {
    text-decoration: none;
    background-color: rgb(255, 1, 1);
    border-style: double;
    margin-left: 100px;
    padding: 9px;
    border-radius: 200px;
}

table {
    width: 100%;
    margin: 150px auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid ;
    padding: 8px;
    text-align: center;
}

th {
    
    font-weight: bold;
}

td {
    font-size: 25px;
}

td a {
    text-decoration: none;

}
