*{
    font-family: "Press Start 2p";
    background-color: transparent;
}
/*--------------------HEADER HOME----------------------*/
.cen1 {
    background-color: #808080;
    color: rgb(202, 190, 190);
    padding: 10px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 33px;
}
#homeb {
    color: rgb(255, 255, 0);
    text-decoration: none;
    border-style: outset;
    border-radius: 3px;
    width: 120px ;
    padding: 3px;
}
#recapb {
   
    padding: 3px;
    color: rgb(255, 255, 0);
    text-decoration: none;
    border-style: outset;
    border-radius: 3px;
    width: 100px auto;
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
}


/*--------------------HEADER RECAP----------------------*/
.cen2 {
    background-color: #808080;
    color: rgb(202, 190, 190);
    padding: 10px;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 33px;
}
#homeR {
    padding: 3px;
    color: rgb(255, 255, 0);
    text-decoration: none;
    border-style: outset;
    border-radius: 3px;
    width: 120px ;
}
#recapR {
    padding: 3px;
    color: rgb(255, 255, 0);
    text-decoration: none;
    border-style: outset;
    border-radius: 3px;
    width: 100px auto;
}

/*-----------------------------------------------------*/
/*-----------------------------------------------------*/
.cantinaier {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 500px;
    height: 350px;
    background-color: rgb(209, 209, 209);
    padding: 22px;
    border-style: unset;
    border-radius: 10px;
    color: rgb(122, 122, 122);
}


#submit{
    border-color: rgb(255, 255, 0);
    background-color: #808080;
    padding: 3px;
    color: rgb(255, 255, 0);
    text-decoration: none;
    border-width: 7px;
    border-style: outset 22px;
    border-radius: 3px;
    width: 100px ;
    height: 40px;
}
form{
    background-color: transparent;
    width: 100px;
    height: 190px;
}


#name{
    width: 350px;
    font-family: sans-serif;
    border-radius: 10px;
    font-weight: bolder;
    height: 30px;
}

#price{
    width: 350px;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 4px;
    font-weight: bolder;
    height: 20px;
}

#qtt{
    width: 350px;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 4px;
    font-weight: bolder;
    height: 20px;
}
#p {
    background-color: transparent;
    padding-top: 22px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}




#deletB {
    display: flex;
    margin-right: 600px;
    justify-content: right;
    margin-top: 22px;
}

.delet {
    text-decoration: none;
    background-color: rgb(214, 2, 2);
    border-style: double;
    margin-left: 100px;
    padding: 9px;
    border-radius: 200px;
}

table {
    font-family: sans-serif;
    width: auto 1500px;
    margin-bottom: 20px;
    flex-direction: column;
    margin: 50px auto;
    background-color: rgb(209, 209, 209);
    color: rgb(122, 122, 122);
}

tr{
    font-weight: bolder;
}

th, td {
    
    font-family: sans-serif;
    border-style:groove ;
    width: 500px;
    padding: 3px;
    text-align: center;
    

}

th {
border-color: #000000;
border-style: double;
height: 10px;
font-weight: bolder;
padding: 10px;

}

td {
    font-size: 25px;

}

td a {
    text-decoration: none;
    display: flex;
    justify-content: center;

}

#test1,
a {
    color: rgb(255, 170, 0);
}

img {

    margin-top: 2px;
}

.mminimization {
    color: rgb(255, 0, 0);
}

.maximization {
    color: rgb(1, 168, 1);

}

